/*****************************
	HTML
*****************************/
html {
    max-height: 100%;
}

/*****************************
	BODY
*****************************/
body {
	color: #555555;
	height: 100%;
	background-color: #FCFCFC;
}

a {
	color: #555555;
	text-decoration: none;
}

li a {
	margin: 4px;
}

li a:hover {
	color:#D8272F;
	margin-right: 10px;
	-o-transition:margin-right 0.3s ease-in;
	-ms-transition:margin-right 0.3s ease-in;
	-moz-transition:margin-right 0.3s ease-in;
	-webkit-transition:margin-right 0.3s ease-in;
	transition:margin-right 0.3s ease-in;
}

/*****************************
	ID Based Styles
*****************************/
#wrapper {
	width: 536px;
	min-width: 320px;
    height: 650px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#top {
    width:100%;
    text-align: right;
}

#name {
	display: none;
	font-family: 'Merienda', cursive;
	width: 100%;
	font-weight: bold;
	font-size: 3.3em;
	margin-right: 16%;
	text-shadow: 1.5px 1.5px #666666;
}

#sub-text {
	display: none;
	font-family: 'Nunito', sans-serif;
	width:100%;
	font-weight: normal;
	font-size: 1.2em;
	margin-right: 16%;
}

#social-fa {
	display: none;
	text-align: right;
	width:100%;
	margin-top: 20px;
}

ul {
	list-style:  none;
	text-align: right;
	margin-right: 2%;
}

li {
	display: block;
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#sticky {
	z-index: 200;
    position: absolute;
    right:0;
    left:0;
    bottom: 0;
    margin: auto;
    width: 387px;
    margin-bottom: 0.8%;
    line-height: 10px;
}

/* Media Query - for device width smaller than 536px */
@media screen and (max-width: 536px) {

	#wrapper {
		width: 100%;
	}

	#top {
    	text-align: center;
	}

	#name {
		margin: 0 auto;
		font-size: 2.2em;
	}

	#sub-text {
		margin: 0 auto;
		font-size: 1em;
	}

	ul {
		margin-right: 16%;
	}

	li {
		font-size: 1.1em;
	}
}

/* Media Query - for device width smaller than 388px */
@media screen and (max-width: 388px) {

	#name {
		font-size: 1.8em;
	}

	#sub-text {
		font-size: 0.8em;
	}

	li {
		font-size: .9em;
	}
}

/*
Ref: Font families
font-family: 'Quicksand', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
*/