/*****************************
	HTML
*****************************/
html {
    max-height: 100%;
}

/*****************************
	BODY
*****************************/
body {
	color: #555555;
	height: 100%;
	background-color: #FCFCFC;
}

a {
	color: #555555;
	margin: 4px;
	text-decoration: none;
}

/*****************************
	ID Based Styles
*****************************/
#wrapper {
	width: 536px;
    height: 400px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#top {
    width:100%;
    text-align: right;
}

#social-fa {
	display: none;
	width:100%;
	margin-top: 20px;
}

#menu {
	display: none;
	width:100%;
	margin-top: 30px;
	font-family: 'Quicksand', sans-serif;
}

ul {
	list-style:  none;
}

li {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 2.5em;
}

#name {
	display: none;
	font-family: 'Merienda', cursive;
	width: 100%;
	font-weight: bold;
	font-size: 3.3em;
	margin-right: 0.5em;
	text-shadow: 1.5px 1.5px #666666;
}

#sub-text {
	display: none;
	font-family: 'Nunito', sans-serif;
	width:100%;
	font-weight: normal;
	font-size: 1.2em;
	margin-right: 0.5em;
}

/* Adding responsiveness for device viewing */
@media screen and (max-width: 536px) {

	#wrapper {
		min-width: 320px;
		width: 100%;
	}

	#top {
    	width:100%;
    	text-align: center;
	}

	#name {
		font-size: 3em;
	}

	#sub-text {
		font-size: 0.9em;
		margin-bottom: 20px;
	}

	#social-fa {
		text-align: center;
		width:61%;
		margin:0 auto;
		line-height: 3em;
	}

	#menu {
		width:60%;
		margin: 0 auto;
		font-size: 0.8em;
	}
}

@media screen and (max-width: 388px) {

	#social-fa {
		width:53%;
	}
	
}


/*
Ref: Font families
font-family: 'Quicksand', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
*/